/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
 */
*,
*::before,
*::after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Color variables */
    --clr-gray: #3d3d3d;
    --clr-orange: #f2591c;
    --clr-off-white: #f2f2f2;
    --clr-white: #ffffff;
    --clr-dark: #1e242d;
    --clr-black: #0c0707;

    /* Fonts */
    --ff-main: "Playfair Display", serif;
    --ff-secondary: "Open Sans", sans-serif;
}

body {
    background: black;
}

/* Components */
/* li {
    list-style: none;
}
 */
a {
    text-decoration: none;
}

/* Navbar */
.header-navbar img {
    width: 75px;
}

header {
    width: 100%;
    height: 100svh;
    position: relative;
}

header::before {
    content: "";
    background-image: url("./images/hero-image.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}
.navbar {
    display: none;
}
.header-navbar {
    background: #1e242d;
    opacity: 0.8;
    display: flex;
    padding: 1rem;
}

/* Hero */
.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75svh;
    padding: 2rem;
    color: var(--clr-white);
    justify-content: space-between;
}

.header-content h1 {
    font-family: "Playfair Display";
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.header-content h2 {
    font-family: "Playfair Display";
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.header-content li {
    font-size: 1rem;
}
.hero-button {
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border-radius: 28px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}

/* Services */
#services {
    background-color: var(--clr-off-white);
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#services .card {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 5%;
}

.card img {
    border-radius: 5%;
}

.card-content {
    color: var(--clr-black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.card-content h4,
.card-content p {
    color: var(--clr-black);
    text-align: center;
}

.card-content h4 {
    font-size: 1.5rem;
    font-family: var(--ff-main);
}

.card-content p {
    font-size: 1.25rem;
}

.card-content button {
    border: 2px solid var(--clr-orange);
    background-color: var(--clr-white);
    color: var(--clr-orange);
    border-radius: 28px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}

/* Promo */
#promo {
    background-color: var(--clr-gray);
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.promo-text {
    font-family: var(--ff-main);
    color: var(--clr-white);
    text-align: center;
}

.promo-text h2 {
    font-size: 1.75rem;
    font-weight: 700;
}
.promo-text p {
    font-size: 0.9rem;
}

#promo .card {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 5%;
}

.card-image {
    color: var(--clr-orange);
    display: flex;
    justify-content: center;
}

.card-image i {
    font-size: 2.5rem;
}

@media screen and (min-width: 980px) {
    /* Header / Hero */
    header nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        display: flex;
        background: green;
        width: 70%;
    }
    .navbar ul {
        display: flex;
        gap: 2rem;
    }

    .navbar li {
        font-size: 1.5rem;
    }

    .hidden-large {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }

    .header-socials {
        display: flex;
    }
}
